/* header部分 */
body,
p,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
td,
input,
select,
option,
textarea {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

i {
    font-style: normal;
    display: inline-block;
}

em {
    font-style: normal;
    display: inline-block;
}

span {
    display: inline-block;
}

img {
    border: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #e9e9e9;
}
body,html{
    width: 100%;
    height: 100%;
}
.login{
    width: 220px;
    height: 370px;
    background: #fff;
    box-shadow: 1px 1px 3px 1px #ccc;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -130px;
    margin-top:-185px; 
    padding: 15px 40px;
    z-index: 999;
}
.login h3{
    font-size:16px;
    color: #444444;
    text-align: center;
    line-height: 35px;
}
.login p{
    color: #a9a9a9;
    text-align: center;
    font-size: 14px;
}
.imgs{
    margin-top: 20px;
}
.imgs a{
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 50%;
    position: relative;
}
.imgs a:nth-of-type(1){
    border:2px solid #3b5998;
}
.imgs a:nth-of-type(2){
    border:2px solid #29c1f6;
    margin: 0px 30px;
}
.imgs a:nth-of-type(3){
    border:2px solid #ef4f1d;
}
.imgs a img{
   position: absolute;
   top:7px;
   left: 9px;
}
.or{
    height: 20px;
    line-height: 20px;
    background: url(../images/login/4.png) repeat-x;
}
.or h3{
    color: #ccc;
    font-size: 14px;
    width: 50px;
    height: 20px;
    line-height: 4px;
    font-weight: 100;
    background: #fff;
    margin: 30px auto 15px;
}
form input{
    height:32px ;
    line-height: 32px;
    background: #fbfbfb;
    margin-bottom: 18px;  
    outline: none;
    border:1px solid #dddddd;
    padding: 0px 52px 0px 10px;
    border-radius: 2px;
}
form span{
    display: block;
    color: #666;
    font-size:12px;
    margin-bottom: 10px;
}
form .btn{
    background: #427fed;
    height: 32px;
    line-height: 32px;
    padding: 0px 95px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
p a{
    color: #666;
    font-size: 12px;
}
p a:hover{
    text-decoration: underline;
}
#slideBox{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 900px) {
    .login{
        margin-left: -145px !important;
    }
}